@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";


html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(to bottom right, #020618, #162456, #0F172B);
 
}


#root {
  min-height: 100vh;
}

/* Rest of your existing styles... */